apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: blue-frontend
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: blue-frontend
    app.kubernetes.io/part-of: blue-whale
  name: blue-frontend
  namespace: pdave3
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: blue-frontend
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: blue-frontend
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload:pdave3-blue-frontend
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 3000
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 3000
        resources:
          requests:
            cpu: "1"
            memory: 500Mi
status: {}
